# ${project.name}

This module provides pre-generated Java bindings for some Metaschema modules.

The following dependency can be added to your POM to use this library.

```xml
<dependency>
  <groupId>${project.groupId}</groupId>
  <artifactId>${project.artifactId}</artifactId>
  <version>${project.version}</version>
</dependency>
```

The following modules are supported:

- [Static Analysis Results Interchange Format](https://github.com/metaschema-framework/metaschema/blob/develop/schema/metaschema/sarif-module.xml) (SARIF)

A [Java API](apidocs/index.html) provides utility methods for using these modules.
