# ${project.name}

This Maven build plugin automates the generation of Java classes for a set of Metaschema definitions as part of a Maven build.

## Goals Overview

- [metaschema:generate-schemas](generate-schemas-mojo.html)	is used to generate Java source files for a given set of Metaschema modules.
- [metaschema:generate-sources](generate-sources-mojo.html)	Goal which generates Java source files for a given set of Module definitions.

## Usage

General instructions for use of this plugin can be found on the [usage page](./usage.html).